/* webfonts start  */

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-LightItalic.woff2') format('woff2'),
        url('../webfonts/Rota-LightItalic.woff') format('woff'),
        url('../webfonts/Rota-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-ExtraLightItalic.woff2') format('woff2'),
        url('../webfonts/Rota-ExtraLightItalic.woff') format('woff'),
        url('../webfonts/Rota-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-Black.woff2') format('woff2'),
        url('../webfonts/Rota-Black.woff') format('woff'),
        url('../webfonts/Rota-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-ExtraBlack.woff2') format('woff2'),
        url('../webfonts/Rota-ExtraBlack.woff') format('woff'),
        url('../webfonts/Rota-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-ExtraLight.woff2') format('woff2'),
        url('../webfonts/Rota-ExtraLight.woff') format('woff'),
        url('../webfonts/Rota-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-Light.woff2') format('woff2'),
        url('../webfonts/Rota-Light.woff') format('woff'),
        url('../webfonts/Rota-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-Italic.woff2') format('woff2'),
        url('../webfonts/Rota-Italic.woff') format('woff'),
        url('../webfonts/Rota-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-BlackItalic.woff2') format('woff2'),
        url('../webfonts/Rota-BlackItalic.woff') format('woff'),
        url('../webfonts/Rota-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-Bold.woff2') format('woff2'),
        url('../webfonts/Rota-Bold.woff') format('woff'),
        url('../webfonts/Rota-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-ExtraBoldItalic.woff2') format('woff2'),
        url('../webfonts/Rota-ExtraBoldItalic.woff') format('woff'),
        url('../webfonts/Rota-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-BoldItalic.woff2') format('woff2'),
        url('../webfonts/Rota-BoldItalic.woff') format('woff'),
        url('../webfonts/Rota-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-ExtraBlackItalic.woff2') format('woff2'),
        url('../webfonts/Rota-ExtraBlackItalic.woff') format('woff'),
        url('../webfonts/Rota-ExtraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-ExtraBold.woff2') format('woff2'),
        url('../webfonts/Rota-ExtraBold.woff') format('woff'),
        url('../webfonts/Rota-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-MediumItalic.woff2') format('woff2'),
        url('../webfonts/Rota-MediumItalic.woff') format('woff'),
        url('../webfonts/Rota-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-Thin.woff2') format('woff2'),
        url('../webfonts/Rota-Thin.woff') format('woff'),
        url('../webfonts/Rota-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-SemiBold.woff2') format('woff2'),
        url('../webfonts/Rota-SemiBold.woff') format('woff'),
        url('../webfonts/Rota-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/Rota-Medium.woff2') format('woff2'),
        url('../webfonts/Rota-Medium.woff') format('woff'),
        url('../webfonts/Rota-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/../webfonts/Rota-Regular.woff2') format('woff2'),
        url('../webfonts/../webfonts/Rota-Regular.woff') format('woff'),
        url('../webfonts/../webfonts/Rota-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/../webfonts/Rota-SemiBoldItalic.woff2') format('woff2'),
        url('../webfonts/../webfonts/Rota-SemiBoldItalic.woff') format('woff'),
        url('../webfonts/../webfonts/Rota-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rota';
    src: url('../webfonts/../webfonts/Rota-ThinItalic.woff2') format('woff2'),
        url('../webfonts/../webfonts/Rota-ThinItalic.woff') format('woff'),
        url('../webfonts/../webfonts/Rota-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}



/* webfonts end  */


/* typography start  */

body {
    font-family: 'Rota';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.test{
    position: relative;
}
.test::before {
    cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
  }

.main-title {
    font-size: 45px;
    text-align: center;
    margin: 0;
    color: #000;
    position: relative;
    /* animation: swip 2s linear infinite; */
}

.main-title:hover {
    transition: .7s all ease-in-out;
}

/* @keyframes swip {

    0%,
    50% {
        left: 1%;
    }

    50%,
    100% {
        left: -1%;
    }

    100%,
    0% {
        left: .1%;
    }

} */




/* typography end  */




/* header start  */

.header {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 15px 5px;
    position: relative;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #363636d6;
    transition: .3s all ease-in-out;
    z-index: -1;
    border-radius: 0 0 30px 30px;
}

.navbar-nav .nav-item .nav-link:hover::before {
    height: 100%;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.header-button .btn {
    font-size: 18px;
    border-radius: 50px;
    padding: 5px 25px;
}

.header-button .btn:focus {
    outline: 0;
    box-shadow: none;
}

.navbar-toggler-icons {
    height: 3px;
    width: 30px;
    background-color: #fff;
    border-radius: 30px;
    display: block;
    position: relative;
    margin-bottom: 5px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icons:nth-child(1) {
    top: 5px;
    margin-bottom: 0;
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icons:nth-child(2) {
    margin-bottom: 0;
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icons:nth-child(3) {
    margin-bottom: 0;
    transform: rotate(-45deg);
}

.open-menu {
    overflow: hidden;
}


/* header end  */

/* landing section start  */

.landing-section {
    height: 80vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

/* .landing-content{
    text-align: center;
} */
.landing-title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    /* animation: blink 3s linear infinite; */
}

.animate {
    position: relative;
    -webkit-box-reflect: below -65px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.animate:hover{
    cursor: progress;
}

.animate span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    animation: ani 1.5s ease-in-out infinite;
    animation-delay: calc(.1s * var(--i))
}

@keyframes ani {

    0%,
    100% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40% {
        transform: translateY(0px);
    }
}

.landing-subtitle {
    margin: 0;
    font-size: 25px;
    position: relative;
    color: #fff;
	position: relative;
}
.landing-subtitle:hover{
    cursor: pointer;
}
.landing-subtitle::before {
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	color: gray;
	overflow: hidden;
	position: absolute;
	content: attr(data-text);
	border-right: 2px solid #05aec1;
	-webkit-text-stroke: 0vw gray;
	animation: text-animation 6s linear infinite;
}

@keyframes text-animation {
	0%,
	10%,
	100% {
		width: 0;
	}

	70%,
	90% {
		width: 100%;
	}
}


.landing-img {
    /* animation: MoveUpDown 7s linear infinite; */
    position: relative;
    left: 0;
    bottom: 0;
}
/* .landing-img:hover{
    cursor: pointer;
} */

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 80px;
    }
}


/* landing section end  */



/* communication section start  */

.communication-section {
    padding: 100px 0;
}

.communication-heading {
    margin-bottom: 50px;
}

.card-img img {
    height: 60px;
    width: 60px;
    object-fit: scale-down;
}

.card {
    padding: 30px;
    background-color: #000;
    border-radius: 15px;
    min-height: 430px;
    transition: .3s all ease-in-out;
    cursor: grab;
    border-top: 5px solid #05aec1;
}


.card:hover {
    background-color: #363636d6;
    animation: nudge .4s linear;
}

@keyframes nudge {

    0% {
        transform: rotate(-3deg);
    }

    33% {
        transform: rotate(3deg);
    }

    66% {
        transform: rotate(-3deg);
    }
}

.card:hover .card-img {
    transform: scale(0.9);
    transition: .3s all ease-in-out;
}

.card-img {
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    z-index: 1;
    transition: .3s all ease-in-out;
}

.card-img:hover {
    box-shadow: 2px 4px 6px lightslategray;
    transition: .3s all ease-in-out;
    filter: invert(1);
}

.card-img .upper_icon,
.lower_icon {
    height: 48px;
    width: 48px;
}

.card-img .upper_icon svg {
    fill: #acacac;
}

.card-img .upper_icon {
    position: absolute;
    top: 20px;
    z-index: 0;
    right: 40px;
    z-index: -1;
}

.card-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
}

.card-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: #fff;
}


/* communication section end  */

/* solution section start  */

.solution-section {
    padding: 100px 0;
    background-color: #000;
}

.solution-content .main-title {
    color: #fff;
}

.solution-heading {
    margin-bottom: 30px;
}

.service-item {
    margin-bottom: 30px;
    border: 2px dotted #fff;
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    transition: .3s all ease-in-out;
    cursor: grab;
}

.service-item:hover {
    border: 2px solid #fff;
    box-shadow: 2px 4px 6px lightslategray;
    transition: .3s all ease-in-out;
}

.service-item:hover .service-icon {
    /* clip-path: none; */
    transform: rotate(360deg);
    border-radius: 50%;
    transition: 2s all ease-in-out;
    box-shadow: 2px 4px 6px lightslategray;
}

.service-icon {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: .3s all ease-in-out;
}

.service-icon i {
    font-size: 40px;
    color: #000;
}

.service-img {
    margin-right: 20px;
}

.service-title {
    font-size: 25px;
    color: #fff;
}

.service-description {
    font-size: 18px;
    margin: 0;
    color: #fff;
}

.solution-detail {
    padding-left: 60px;
}

.solution-title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

.solution-description {
    font-size: 23px;
    color: #fff;
}


/* solution section end  */

/* team section start  */

.team-section {
    padding: 0;
    position: relative;
}

.team-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: #000;
    z-index: -1;
}

.team-heading .main-title {
    color: #fff;
}

.member-detail {
    transform: translateY(0);
    transition: .3s all ease-in-out;
}

.member-detail:hover {
    transform: translateY(-15px);
    transition: .3s all ease-in-out;
}

.social-profile-list:hover {
    margin-top: 20px;
    transition: .3s all ease-in-out;
}

.member-profile {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    animation: scale 3s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }

}

.member-profile img {
    height: 100%;
    width: 100%;
}

.team-detail {
    margin-top: 60px;
}

.member-social-profile {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.social-profile-list {
    list-style: none;
    margin: 0 10px;
    transition: .3s all ease-in-out;
}

.social-profile-link {
    font-size: 30px;
    color: #000;
    transition: .3s all ease-in-out;
}

.member-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;
    color: #000;
}

.member-subtitle {
    margin-bottom: 5px;
    color: #000;
    font-size: 18px;
    text-align: center;
}

/* team section end  */


/* roadmap section start  */

.roadmap-section {
    padding: 0 0 100px;
}

.roadmap-description {
    padding: 20px;
    margin: 0;
    min-height: 220px;
    position: relative;
    transition: .3s all ease-in-out;
    cursor: grab;
}

.roadmap-description::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20%;
    width: 100%;
    opacity: 0;
    background-color: #acacac;
    z-index: -1;
    transition: .3s all ease-in-out;
}

.roadmap-description:hover::before {
    height: 100%;
    transition: .3s all ease-in-out;
    opacity: 1;
}

.roadmap-heading {
    margin-bottom: 30px;
}

.roadmap-item {
    border: 1px solid #000;
    border-radius: 20px;
    overflow: hidden;
}

.roadmap-head {
    padding: 20px;
    text-align: center;
    border-bottom: 1px dotted #000;
    background-color: #000;
}

.roadmap-item-title {
    color: #fff;
    font-size: 25px;
    margin: 0;
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.roadmap-list {
    list-style: none;
    font-size: 18px;
    display: flex;
    margin: 10px 0;
}

.roadmap-list i {
    margin-right: 15px;
    color: #000;
}

/* roadmap section end  */

/* question section start  */

.question-section{
    padding-bottom: 75px;
}
.question-subtitle {
    margin: 15px 0 0;
    text-align: center;
    font-size: 23px;
    color: gray;
}
.question-detail {
    width: 400px;
    max-width: 100%;
    margin: 20px auto 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #e5e5e59c;
    border-radius: 30px;
    padding: 20px 0;
}
.question-link {
    list-style: none;
}
.question-link a {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-decoration: none;
    height: 60px;
    width: 60px;
    font-size: 30px;
    transform: scale(1);
    border: 1px solid gray;
    border-radius: 50%;
    transition: .3s all ease-in-out;
}
.question-link a:hover{
    border: -5px solid gray;
    border-radius: 50%;
    transform: scale(1.2);
    color: #000000c4;
    transition: .3s all ease-in-out;
}

/* question section end  */

/* privacy landing section start  */

.privacy-landing-section {
    background-color: #000;
    padding: 100px 0;
}
.privacy-landing-title {
    font-size: 70px;
    margin: 0;
    color: #fff;
    text-align: center;
    transition: .3s all ease-in-out;
}
.privacy-landing-section:hover .privacy-landing-title{
    letter-spacing: 5px;
    transition: .3s all ease-in-out;
}

/* privacy landing section end  */


/* privacy section start  */

.privacy-section{
    padding: 75px 0;
}
.privacy-sidebar-item {
    padding: 20px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.5);
    position: sticky;
    top: 12%;
}
.privacy-sidebar-list {
    list-style: none;
    margin: 3px 0;
    display: flex;
    position: relative;
}
.privacy-sidebar-list::before{
    content: '';
    position: absolute;
    top: 0%;
    left: -15px;
    height: 50%;
    width: 5px;
    opacity: 0;
    border-radius: 30px;
    background-color: #05aec1;
    transition: .5s all ease-in-out;
}
.privacy-sidebar-list:hover::before{
    height: 100%;
    opacity: 1;
    transition: .5s all ease-in-out;

}
.privacy-sidebar-list a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: calc(100% - 11px);
}
.privacy-sidebar-list a:-webkit-any-link:active {
    color: #ffffffbc;
}
.privacy-sidebar-list span {
    color: #fff;
    margin-right: 5px;
    font-size: 20px;
}
.privacy-title {
    font-size: 25px;
    color: #000;
}
.privacy-description {
    font-size: 17px;
    color: #000;
}

/* privacy section end  */




/* footer start  */

.footer {
    background-color: #000;
    padding: 10px 0;
    margin-top: auto;
}

.footer-copyright {
    margin: 0;
    color: #fff;
    font-size: 18px;
}

.copyright-link {
    color: #fff;
}

.copyright-link:hover {
    color: #fff;
}

.footer-link-item {
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-link-list {
    list-style: none;
    margin: 0 10px;
}

.footer-link {
    font-size: 18px;
    color: #fff;
}
.footer-link:hover{
    color: #acacac;
    transition: .3s all ease-in-out;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left {
    display: flex;
    align-items: center;
}
.footer-right-item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.footer-right-list {
    list-style: none;
    margin: 0 10px;
}
.footer-right-list:first-child{
    margin-left: 0;
}
.footer-right-list:last-child{
    margin-right: 0;
}
.footer-right-list a {
    color: #fff;
    text-decoration: none;
    transition: .3s all ease-in-out;
}
.footer-right-list a:hover{
    color: #acacac;
    transition: .3s all ease-in-out;
}

/* footer end  */


/* our team section start  */

.our-team-section {
    padding: 100px 0;
}

.our-team-heading {
    margin-bottom: 30px;
}

.team-profile-card {
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #000;
    transform: translateY(0);
    transition: .3s all ease-in-out;
    cursor: grab;
    position: relative;
}

.team-profile-card:hover {
    transform: translateY(-15px);
    box-shadow: 2px 4px 6px #363636d6;
}

.mem-img {
    overflow: hidden;
    position: relative;
}

.mem-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d6d6d6a2;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: .3s all ease-in-out;
    z-index: 1;
}

.team-profile-card:hover .mem-img::before {
    opacity: 1;
    transition: .3s all ease-in-out;
}

.mem-img img {
    transform: scale(1);
    transition: .7s all ease-in-out;
}

.team-profile-card:hover .mem-img img {
    transform: scale(1.1);
    transition: .7s all ease-in-out;
}

.mem-detail {
    padding: 20px;
}

.mem-title {
    font-size: 25px;
    text-align: center;
}

.mem-subtitle {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.mem-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 1;
}

.team-profile-card:hover .mem-social-media {
    opacity: 1;
}

.mem-social-list {
    margin: 0 10px;
    list-style: none;
    transition: .3s all ease-in-out;
}

.mem-social-list:hover {
    padding-top: 10px;
    transition: .3s all ease-in-out;
}

.social-link {
    font-size: 35px;
    color: #fff;
}

/* our team section end  */



/* our partner section start  */

.our-partner {
    padding: 100px 0;
}

.our-partner-content {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

.partner-img {
    height: 150px;
    width: 150px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: .3s all ease-in-out;
    position: relative;
}

.partner-img:before,
.partner-img:after {
    position: absolute;
    content: "";
    transition: .3s all ease-in-out;
}

.partner-img:before {
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    width: 30%;
    height: 30%;
    left: -10px;
    bottom: -10px;
}

.partner-img:after {
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    width: 30%;
    height: 30%;
    top: -10px;
    right: -10px;
}

.partner-img:hover:before {
    width: 112%;
    height: 112%;
}

.partner-img:hover:after {
    width: 112%;
    height: 112%;
}




.partner-img:hover {
    /* filter: blur(2px); */
    transition: .3s all ease-in-out;
    transform: scale(1.1);
}

.our-partner-heading {
    margin-bottom: 50px;
}

/* our partner section end  */


/* backed by section start  */

.backed-by-section {
    padding: 100px 0;
}

.investor-icon-item {
    height: auto;
    width: 200px;
    margin: 0 auto;
    transform: scale(1);
    transition: .3s all ease-in-out;
    border: 2px solid gray;
    padding: 20px;
    background-color: black;
    position: relative;
}


.investor-icon-item:before,
.investor-icon-item:after {
    position: absolute;
    content: "";
    transition: all .25s;
}

.investor-icon-item:before {
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    width: 30%;
    height: 60%;
    left: -15px;
    bottom: -15px;
    z-index: -1;
}

.investor-icon-item:after {
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    width: 30%;
    height: 60%;
    top: -15px;
    right: -15px;
    z-index: -1;
}

.investor-icon-item:hover:before {
    width: 115%;
    height: 125%;
}

.investor-icon-item:hover:after {
    width: 115%;
    height: 125%;
}





.investor-icon-item:hover {
    /* filter: contrast(0.5); */
    transform: scale(1.1);
    transition: .3s all ease-in-out;
}

.backed-heading {
    margin-bottom: 30px;
}

/* backed by section end  */



@media(min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}

@media(max-width: 1199px) {
    .landing-title {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .landing-subtitle {
        font-size: 23px;
    }

    .communication-section {
        padding: 75px 0;
    }

    .main-title {
        font-size: 35px;
    }

    .communication-heading {
        margin-bottom: 35px;
    }

    .card {
        padding: 20px;
    }

    .card-img {
        margin-bottom: 20px;
    }

    .card-title {
        font-size: 25px;
    }

    .card-subtitle {
        font-size: 18px;
    }

    .solution-section {
        padding: 75px 0;
    }

    .solution-title {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .solution-description {
        font-size: 20px;
    }

    .team-section {
        padding: 0;
    }

    .roadmap-section {
        padding: 0 0 75px;
    }

    .our-team-section {
        padding: 75px 0;
    }

    .our-partner {
        padding: 75px 0;
    }

    .backed-by-section {
        padding: 75px 0;
    }
    .privacy-title {
        font-size: 23px;
    }
    .privacy-description {
        font-size: 16px;
    }
    .privacy-sidebar-list a {
        width: calc(100% - 15px);
    }
    .privacy-sidebar-list span {
        font-size: 18px;
    }
    .privacy-landing-section {
        padding: 70px 0;
    }
    .privacy-landing-title {
        font-size: 50px;
    }
    .privacy-section {
        padding: 40px 0;
    }


    @keyframes MoveUpDown {

        0%,
        100% {
            bottom: 0;
        }

        50% {
            bottom: 50px;
        }
    }
}

@media(max-width: 991px) {
    nav.navbar.navbar-expand-lg {
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all ease 350ms;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #000;
        transition: all ease-in-out 350ms;
    }

    .navbar-toggler {
        position: relative;
        z-index: 1;
        order: 1;
        padding: 10px;
    }

    .navbar-nav .nav-item .nav-link::before {
        display: none;
    }

    .navbar-toggler:focus {
        outline: 0;
        box-shadow: none;
    }

    .header-button {
        margin-left: auto;
    }

    .navbar-nav {
        padding-top: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 7px 0;
    }

    .landing-title {
        font-size: 35px;
        margin-bottom: 0;
    }

    .landing-subtitle {
        font-size: 20px;
    }

    .landing-section {
        height: 50vh;
    }

    .communication-section {
        padding: 40px 0;
    }

    .card-img img {
        height: 40px;
        width: 40px;
        object-fit: scale-down;
    }

    .animate {
        -webkit-box-reflect: below -40px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    }

    .main-title {
        font-size: 30px;
    }

    .card-img {
        height: 80px;
        width: 80px;
    }

    .card-img .upper_icon,
    .lower_icon {
        height: 25px;
        width: 25px;
    }

    .card-img {
        height: 70px;
        width: 70px;
    }

    .card-img .upper_icon {
        top: 15px;
        right: 30px;
    }

    .card-img {
        margin-bottom: 10px;
    }

    .card-title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .card-subtitle {
        font-size: 16px;
    }

    .card {
        padding: 30px;
        min-height: auto;
        margin-bottom: 20px;
    }

    .solution-section {
        padding: 40px 0;
    }

    .service-title {
        font-size: 20px;
    }

    .service-icon {
        height: 70px;
        width: 70px;
    }

    .service-icon i {
        font-size: 30px;
    }

    .service-description {
        font-size: 16px;
    }

    .solution-title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .solution-description {
        font-size: 18px;
    }

    .solution-detail {
        padding-left: 0;
        text-align: center;
    }

    .team-section {
        padding: 0;
    }

    .team-detail {
        margin-top: 40px;
    }

    .team-section::before {
        height: 150px;
    }

    .member-detail {
        margin-bottom: 20px;
    }

    .member-title {
        font-size: 23px;
        margin-bottom: 0px;
    }

    .member-profile {
        height: 120px;
        width: 120px;
    }

    .roadmap-section {
        padding: 0 0 40px;
    }

    .roadmap-heading {
        margin-bottom: 20px;
    }

    .roadmap-item-title {
        font-size: 23px;
    }

    .roadmap-head {
        padding: 10px 20px;
    }

    .roadmap-item {
        margin-bottom: 30px;
    }

    .roadmap-description {
        min-height: auto;
    }

    .footer-content {
        justify-content: space-between;
    }

    .footer-copyright {
        font-size: 17px;
    }

    .our-team-section {
        padding: 40px 0;
    }

    .team-profile-card {
        margin-bottom: 30px;
    }

    .mem-title {
        font-size: 23px;
    }

    .our-partner {
        padding: 40px 0;
    }

    .our-partner-heading {
        margin-bottom: 30px;
    }

    .backed-by-section {
        padding: 40px 0;
    }
    .privacy-title {
        font-size: 21px;
    }
    .privacy-content .row{
        display: flex;
        flex-direction: column-reverse;
    }
    .privacy-sidebar-item{
        margin-bottom: 40px;
    }
    .question-section {
        padding-bottom: 50px;
    }
    .question-link a {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }
    .question-detail {
        margin: 10px auto 0;
        padding: 15px 0;
        width: 250px;
        border-radius: 15px;
    }
    .solution-title {
        font-size: 25px;
    }
    .question-subtitle {
        margin: 10px 0 0;
        font-size: 20px;
    }


    @keyframes MoveUpDown {

        0%,
        100% {
            bottom: 0;
        }

        50% {
            bottom: 30px;
        }
    }
}

@media(max-width: 767px) {
    nav.navbar.navbar-expand-lg {
        padding: 0;
    }

    .header-button .btn {
        font-size: 16px;
        padding: 3px 20px;
    }

    .landing-section {
        height: 60vh;
    }

    .landing-detail {
        text-align: center;
        margin-bottom: 20px;
    }

    .landing-img {
        height: auto;
        width: 275px;
        margin: 0 auto;
    }

    .main-title {
        font-size: 27px;
    }

    .landing-title {
        font-size: 30px;
    }

    .landing-subtitle {
        font-size: 18px;
    }

    .footer-copyright {
        font-size: 15px;
    }

    .footer-link-list {
        margin: 0 5px;
    }
    .footer-content {
        flex-direction: column;
    }
    .footer-left{
        margin-bottom: 10px;
    }
    .footer-link {
        font-size: 16px;
    }

    .team-profile-card {
        min-height: auto;
    }

    .investor-icon-item {
        width: 50%;
        margin: 20px auto 30px;
    }

    .partner-img {
        margin: 0 auto 50px;
    }
    .privacy-landing-section {
        padding: 50px 0;
    }
    .privacy-landing-title {
        font-size: 35px;
    }
    .privacy-sidebar-list span {
        font-size: 18px;
    }
    .privacy-sidebar-list a {
        font-size: 18px;
    }
    .privacy-title {
        font-size: 18px;
    }
}